.card {
  display: flex;
  justify-content: space-between;
}
.form-style {
  display: flex;
  flex-direction: column;
}
.bg-con {
  padding: 30px;
}
.name-input {
  margin-bottom: 20px;
}
.btn {
  margin-top: 20px;
  background-color: #0284c7;
  color: white;
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 5px;
}
.span {
  margin-right: 10px;
}
.initial-container {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}
