.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.list-item {
  list-style-type: none;
}

.span {
  margin-right: 10px;
}
.styling {
  display: flex;
  justify-content: space-between;
}
.initial {
  font-size: 15px;
  color: white;
  margin: 10px;
}
.comment {
  display: flex;
  padding-right: 15px;
}
.name {
  margin-left: 15px;
}
.time {
  margin-left: 15px;
}
